:plain
  Welcome, #{@ticket.customer_name}
  
  We've received your ticket and will soon contact you.

  Your ticket's id is: #{@ticket.id}.

  You can view your ticket by visiting: #{ticket_url @ticket}