%p Enter your email to see your questions

=form_tag "/tickets", :method => :get do
  .field
    = label_tag "Mail:"
    %br/
    = text_field_tag :email, @email
  .actions
    = submit_tag
    
=link_to 'Back', tickets_path